@media only screen and (max-width: 414px) {
    .card-content {
        width: 30vw;
        height: 176px;
        background-color: transparent;
    }

    .img_depoimentos {
        display: none !important;
    }

    #carouselExampleIndicators {
        width: 100vw;
    }

    iframe {
        width: 75vw !important;
        height: 55vw !important;
        border-radius: 10px;
    }

    .div_button_story {
        position: absolute;
        width: 265px;
        display: flex;
        justify-content: end;
    }
    .video_review{
        width: 300px;
    }
    .stars{
        max-width: 90px;
    }
}