@media only screen and (max-width: 375px) {
    .Mynavbar {
        padding-top: 20px;
        height: 77px;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        width: 100%;
    }
    #menu {
        display: flex;
        position: absolute;
        width: 100%;
        top: 77px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.6);
        transition: 0.6s;
        z-index: 1000;
        align-items: center;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        flex-direction: column;
        justify-content: flex-start;
    } 

    .h-2_mobile {
        /* height: 9vh; */
        font-size: 19px;
        font-weight: 900;
        width: 70vw;
    }
    .gradient_mobile {
        font-size: 21px;
        font-weight: bold;
    }
    .img_depoimentos{
        width: 30vw;
        height: 176px;
    }
    .card-content{
        width: 30vw;
        height: 176px;
        background-color: transparent;
    }
    .img_depoimentos{
        display: none !important;
    }
    .stars{
        max-width: 26vw;
    }
    .button-gradient {
        margin: 10px;
        justify-content: space-between;
        font-size: 10px;
        font-weight: 900;
        width: 83vw !important;
        height: 36px !important;
    }
    .button-transparent {
        margin: 10px;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 900;
        width: 81vw !important;
        height: 42px !important;
    }
    
    #carouselExampleIndicators {
        width: 100vw;
    }
    iframe {
        width: 75vw !important;
        height: 55vw !important;
        border-radius: 10px;
    }
    .borda_mentor {
        width: 45vw;
        height: 45vw;
    }
    
    .foto_mentor {
        max-width: 42vw;
        border-radius: 210px;
    }
    .mentor_mobile{
        font-size: 15px;
    }
    .button_telegram{
        font-size: 11px;
    }
}   