* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    background: rgb(205, 88, 48);
    background: linear-gradient(197deg, rgba(205, 88, 48, 1) 0%, rgba(138, 1, 59, 1) 13%, rgba(136, 8, 8, 1) 18%, rgba(0, 0, 0, 1) 35%);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

iframe {
    width: 48vw !important;
    height: 26vw !important;
    border-radius: 10px;
}

span {
    color: #fff;
}

p {
    color: #fff;
}

h2 {
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

#menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 900;
}

.li_nav {
    margin-left: 50px;
}

.a_nav {
    display: block;
    padding: .5rem;
}

.robo {
    display: flex;
}


.div-buttons {
    margin-top: 1.3vw;
    display: flex;
    justify-content: space-between;
}

.button-gradient {
    background: -webkit-linear-gradient(#FF006C, #FF622C);
    color: #fff;
    border-radius: 50px;
    border: 0;
    width: 13vw;
    height: 4vw;
    font-size: 1.3vw;
}

.button-transparent {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    width: 13vw;
    height: 4vw;
    font-size: 1.3vw;
}

#h2-phrase {
    font-size: 3vw;
    line-height: 90%;
}


.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 90vw;
}

.home-text {
    width: 33vw;
}


.text_app {
    font-size: 1vw;
    text-align: start;
    width: 100%;
}

.gradient_font {
    font-size: 4vw;
    background: -webkit-linear-gradient(#FF006C, #FF622C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.general {
    display: flex;
    flex-direction: column;
}

.navbar {
    padding-top: 20px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
}

.apresentation-text {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.nav-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}

.apresentation {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
}

.apr-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.mobile_nav {
    display: none;
}

#p-celular {
    width: 14vw;
}

#logo {
    max-width: 200px;
}

#btn-mobile {
    display: none;
}

#iframe_mobile {
    display: none;
}

.apr-column1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: space-around; */
    width: 25em;
    margin-top: 10em;
    height: 55em;
}

.apr-column2 {
    display: flex;
    flex-direction: column;
}

.apr-column3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25em;
    margin-top: 23em;
    height: 55em;
}

.depoimentos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 99vw;
    height: 35vh;
}

#linha_completa_mobile {
    display: none;
}

.saiba_text {
    display: none;
}

.h2-line {
    width: 260px;
}

.depoimentos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 99vw;
    height: 35vh;
    margin-top: 50px;
}

#linha_completa_mobile {
    display: none;
}

.saiba_text {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: rgba(000, 000, 000, 0.5);
}


.img_depoimentos {
    position: absolute;
    z-index: -1;
    border-radius: 40px;
    width: 200px;
    height: 300px;
}

.stars {
    max-width: 135px;
}


@media (max-width: 900px) {
    .saiba_text {
        display: flex;
    }

    #menu {
        display: flex;
        position: absolute;
        width: 100%;
        top: 90px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.6);
        transition: 0.6s;
        z-index: 1000;
        align-items: center;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        flex-direction: column;
        justify-content: flex-start;
    }


    #button_desktop {
        display: none;
    }

    .home-text {
        width: 100vw !important;
    }


    .li_nav {
        margin-top: 10vh;
        margin-left: 0 !important;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
        color: white;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    } 

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }


    @media (max-width: 600px) {

        .div-buttons {
            margin-top: 1.3vw;
            display: flex;
            justify-content: space-between;
            width: 70vw;
        }

        #text {
            width: 76vw;
        }

        #button_title {
            display: flex;
            text-align: center;
            font-size: 10vw;
            font-weight: 900;
        }

        #h2-phrase {
            display: flex;
            align-items: center;
            font-size: 8vw;
            width: 76vw;
        }

        #second_title {
            margin-top: 22px;
            display: flex;
            font-size: 3vw;
            width: 100%;
            margin: 14px 14px 14px 0px;
        }

        .home-text {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            /* justify-content: space-between; */
            height: 75vh;
        }

        #iframe_desktop {
            display: none;
        }

        #iframe_mobile {
            display: inline !important;
            width: 82vw !important;
            height: 28vh !important;
            border-radius: 20px;
            margin-left: -13px;
        }

        .button-gradient {
            margin: 10px;
            font-size: 15px;
            font-weight: bold;
            justify-content: space-between;
            width: 30vw !important;
            height: 44px !important;
        }

        .button-transparent {
            margin: 10px;
            justify-content: space-between;
            font-size: 15px;
            font-weight: 200;
            width: 30vw !important;
            height: 45px !important;
        }

        #paragraph {
            text-decoration: underline;
            margin: 10px;
        }

        #paragraph_second {
            font-size: 4vw !important;
            margin: 10px;
            font-weight: 900;

        }

        #linha_completa_desktop {
            display: none;

        }

        #linha_completa_mobile {
            display: flex;
        }

        #logo {
            width: 118vw;
            height: 3vh;
            margin: 10px;
        }

        #apr_mobile_ {
            display: flex;
            flex-direction: column;
            width: 94%;
            align-items: end;
            /* margin-top: -14vh; */
        }

        #mobile_column_1 {
            font-size: 18px;
            text-align: right;
            width: 223px;
        }

        .p-celular_r {
            width: 40vw;
            text-align: right;
            margin-top: 10px;
        }

        #phone_desktop {
            display: none;
        }

        #apr_desktop_two {
            display: none;
        }

        #apr_mobile_three {
            display: flex;
            flex-direction: column;
            width: 96%;
            align-items: end;
        }

        .apr-column1 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* justify-content: space-around; */
            /* width: 27em; */
            margin-top: 2em;
            height: 75em;
        }
        #money_desktop {
            display: none;
        }
    
        #apr_mobile_four {
            display: flex;
            flex-direction: column;
            width: 96%;
            align-items: end;
            /* margin-bottom: 12vh; */
        }
    
        #cupom_desktop {
            display: none;
        }
    
        .apresentation-text {
            align-items: end;
        }
    
    
        .apr-column3 {
            width: 25em;
            height: 79em;
            margin-top: 15em
        }
    
        .p-celular_l {
            width: 40vw;
            text-align: left;
            margin-top: 10px;
        }
    
        .mobile_other_side {
            font-size: 18px;
            text-align: right;
            width: 223px;
        }
    
        .apresentation-text_l {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
        }
    
        #mobile_column_1_l {
            font-size: 18px;
            width: 153px;
        }
    
        #trader_desktop {
            display: none;
        }
    }

}





@media screen and (min-width: 601px) and (max-width:900px) {
    #text {
        width: 76vw;
    }

    #button_title {
        display: flex;
        text-align: center;
        font-size: 8vw;
        font-weight: 900;
    }

    #h2-phrase {
        display: flex;
        align-items: center;
        font-size: 7vw;
        width: 76vw;
    }

    #second_title {
        display: flex;
        font-size: 3vw;
        width: 102%;
        margin: 14px 14px 25px 0px;
    }

    .home-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 75vh;
    }

    #iframe_desktop {
        display: none;
    }

    #iframe_mobile {
        display: inline !important;
        width: 82vw !important;
        height: 28vh !important;
        border-radius: 20px;
        margin-left: -13px;
    }

    .assistant_iframe {
        height: 100vh;
    }

    .button-gradient {
        margin: 10px;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 900;
        width: 18vw !important;
        height: 43px !important;
    }

    .button-transparent {
        margin: 10px;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 200;
        width: 18vw !important;
        height: 43px !important;
    }

    #paragraph {
        text-decoration: underline;
        margin: 10px;
    }

    #paragraph_second {
        font-size: 22px;
        background: -webkit-linear-gradient(#FF006C, #FF622C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 10px;
        font-weight: bolder;
    }
    #linha_completa_desktop {
        display: none;

    }

    #linha_completa_mobile {
        display: flex;
    }

    #logo {
        width: 118vw;
        height: 3vh;
        margin: 10px;
    }

    #apr_mobile_ {
        display: flex;
        flex-direction: column;
        width: 94%;
        align-items: end;
        /* margin-top: -14vh; */
    }

    #mobile_column_1 {
        font-size: 18px;
        text-align: right;
        width: 223px;
    }

    .p-celular_r {
        width: 33vw;
        text-align: right;
        margin-top: 10px;
    }

    #phone_desktop {
        display: none;
    }

    #apr_desktop_two {
        display: none;
    }

    #apr_mobile_three {
        display: flex;
        flex-direction: column;
        width: 96%;
        align-items: end;
    }

    .apr-column1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* justify-content: space-around; */
        /* width: 27em; */
        margin-top: 2em;
        height: 75em;
    }
    #money_desktop {
        display: none;
    }

    #apr_mobile_four {
        display: flex;
        flex-direction: column;
        width: 96%;
        align-items: end;
        /* margin-bottom: 12vh; */
    }

    #cupom_desktop {
        display: none;
    }

    .apresentation-text {
        align-items: end;
    }


    .apr-column3 {
        width: 25em;
        height: 79em;
        margin-top: 15em
    }

    .p-celular_l {
        width: 40vw;
        text-align: left;
        margin-top: 10px;
    }

    .mobile_other_side {
        font-size: 18px;
        text-align: right;
        width: 223px;
    }

    .apresentation-text_l {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }

    #mobile_column_1_l {
        font-size: 18px;
        width: 153px;
    }

    #trader_desktop {
        display: none;
    }
}

    


::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(40deg, #FF006C 14%, #FF622C 64%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(40deg, #FF006C 14%, #FF622C 64%);
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}